---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BibCite</title>
    <link rel="stylesheet" href="dist/bibcite.css">
    <script src="dist/jquery.min.js"></script>
    <script src="/dist/underscore-min.js"></script>
    <script src="dist/bibcite.js"></script>

    <!-- For demo purposes only -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.base_url }}demo/demo.css">

  </head>
  <body>
    <main>
      
      {{ content }}

    </main>
    <script>
      B = new BibCite('demo/demo-bib.bib')
      B.replace()
      B.references('.bibliography')
    </script>
  </body>
</html>

