$tipSize: 15px;
$topSpacing: 5px; 

.bibcite-footnote-wrapper {
	display: none;
    position: absolute;
    z-index: 999;
    max-width: 60%;
    text-align: left;

    opacity: 0;
    transition: opacity 300ms ease-out, margin-top 250ms ease;
    margin-top: -10px;

	&.active {
		display: block;
	}

	&.visible {
		opacity: 1;
		margin-top: 0;
	}

	.content {
		position: relative;
		top: $topSpacing + $tipSize/2;
		z-index: 999;
	    background-color: #fff;
	    box-shadow: 0 0 5px rgba(0,0,0,0.3);
	    padding: .75em 1em;
	    min-width: 200px;
	}

	.tip {
		position: absolute;
		left: 50%;
		top: $topSpacing;
		margin-left: -$tipSize/2;
		transform: rotate(45deg);
		width: $tipSize;
		height: $tipSize;
		background-color: #000;
		z-index: 998;
	}
}

p,
li {
	position: relative;
}